*{
    font-family: 'Calibri';
    font-size: 18px;
}

body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #3A3A3A;    /* цвет плашки */
}

.header-logo {
    background: #3A3A3A;
    padding: 5px;
}

.container-header{
    display: flex;
}

.ul-header{
    display: flex;
    margin-left: 25%;
    margin-top: 10px;
}

.li-header{
    list-style: none;
    margin-left: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #810707;
    transition: color 0.5s;
}

.logo-a{
    margin-top: 5px;
}

input:checked + label > img {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
